root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{js,ts,tsx,jsx,json,yml,yaml,css,scss,html,md}]
indent_style = space
indent_size = 2

[*.{py,go}]
indent_style = space
indent_size = 4

[*.{kt,java,gradle}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
