<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627959972375-mhmkhjj5786p1dti1l38k41jpej1vjc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627959972375-mhmkhjj5786p1dti1l38k41jpej1vjc0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>627959972375-qo7clmgur5unvb82tv61n21c8d81pdht.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHrwWoajCjHNRHtu9N0TAZR8k8WT5P0vM</string>
	<key>GCM_SENDER_ID</key>
	<string>627959972375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skynergroup.coupleSync</string>
	<key>PROJECT_ID</key>
	<string>nexion-ai-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>nexion-ai-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627959972375:ios:64cd413e441428a374d252</string>
</dict>
</plist>